*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  color: white;
}

body, html{
  width:100%;
  height:100%;
}

#main-container{
  width:100%;
  height:100%;
  background: $black;
  @extend %flex;
  @include align-items(center);
  @include justify-content(center);
}

.button{
  background-color: $brown;
  width:110px;
  height:110px;
  @include border-radius(100%);
  @include animation (0, 3s, hovering, infinite);
  cursor: pointer;
  &:hover{
    animation-play-state: paused;
  }
}

@include keyframe (hovering){
  0% {
    @include box-shadow(0px 0px 30px 0px white);
    @include transform(translateY(5px));
  }
  50% {
    @include box-shadow(0px 0px 30px 1px white);
    @include transform(translateY(-10px));
  }

  100% {
    @include box-shadow(0px 0px 30px 0px white);
    @include transform(translateY(5px));
  }
}
